[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_A288AEE44E5737374D202020FF10250B-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: -22 # update with offset from nozzle on your machine
#mesh_main_direction: x
#mesh_runs: 2


[gcode_macro qgl_scan]
gcode:
    quad_gantry_level RETRY_TOLERANCE=1
    quad_gantry_level HORIZONTAL_MOVE_Z=2